<launch>
    <include file="$(find drive_ros_imu_odo_odometry)/launch/imu_odo_odometry.launch" pass_all_args="true">
        <!-- bag specific parameter -->
        <arg name="odo_topic_name" default="/wheel_encoder/odom" />
        <arg name="odo_topic_rate" default="100"/>
        <arg name="imu_topic_name" default="/imu/data" />
        <arg name="imu_topic_rate" default="110"/>
        <arg name="read_from_bag" default="true" />
        <arg name="bag_file_path" default="$(find drive_ros_imu_odo_odometry)/test/circle_002.bag" />
        <arg name="vehicle" default="ftm_rc_car_1"/>
    </include>
</launch>
