<launch>
    <include file="$(find drive_ros_localize_odom_fusion)/launch/odom_fusion.launch" pass_all_args="true">
        <!-- bag specific parameter -->
        <arg name="odo_topic_name" default="/from_mav/odom" />
        <arg name="odo_topic_rate" default="250"/>
        <arg name="imu_topic_name" default="/from_mav/imu/data" />
        <arg name="imu_topic_rate" default="250"/>
        <arg name="read_from_bag" default="true" />
        <arg name="bag_file_path" default="$(find drive_ros_localize_odom_fusion)/test/circle_001.bag" />
        <arg name="vehicle" default="cc2017_car"/>
    </include>
</launch>
