<launch>
    <!-- odometer topic -->
    <arg name="odo_topic_name" default="/from_mav/odom"/>
    <arg name="odo_topic_rate" default="250"/>

    <!-- IMU topic -->
    <arg name="imu_topic_name" default="/from_mav/imu/data"/>
    <arg name="imu_topic_rate" default="250"/>

    <!-- size of subscriber and sync policy queues -->
    <arg name="queue_size" default="10"/>

    <!-- age penalty of approx time message filter (http://wiki.ros.org/message_filters/ApproximateTime) -->
    <arg name="age_penalty" default="5"/>

    <!-- maximum time allowed between the imu and odo message -->
    <arg name="max_time_between_imu_odo" default="0.001" />

    <!--
         maximum time allowed between two measurements (imu+odo).
         If this time difference between measurments exceeds this threshold [sec]
         -> reset the filter covariances
         -> typically occurs when running a bag in a loop -> big time jump
    -->
    <arg name="max_time_between_meas" default="0.1"/>


    <!--
        ignore acceleration values.
        This can be usefull if acceleration from IMU is to noisy
    -->
    <arg name="ignore_acc_values" default="false" />

    <!-- tf parent frame of published tf -->
    <arg name="static_frame" default="odometry"/>

    <!-- tf child frame of published tf -->
    <arg name="moving_frame" default="rear_axis_middle_ground"/>

    <!-- vehicle configuration file -->
    <arg name="vehicle_config" default="$(find drive_ros_imu_odo_odometry)/config/phoenix_cc2017.yaml" />


    <!--
        use sensor time to publish tf and odometry
        advantage: published time is similar to sensor data time
        disadvantage: can cause problems with time jumps, when replaying bags in loops
    -->
    <arg name="use_sensor_time_for_pub" default="false" />

    <!-- debug odometry output to file -->
    <arg name="debug_out" default="false" />
    <arg name="debug_out_file_path" default="/tmp/out_debug_2.csv" />

    <!-- read messages from bag file instead of incoming messages -->
    <arg name="read_from_bag" default="false" />
    <arg name="bag_file_path" default="$(find drive_ros_imu_odo_odometry)/test/circle_001.bag" />

    <!-- forward output to [screen|log] -->
    <arg name="output" default="screen"/>

    <!-- define nice value of process (lower means higher priority) [-20;19] -->
    <!-- more infos: https://en.wikipedia.org/wiki/Nice_(Unix) -->
    <arg name="nice_val_pre" default="nice -n -5"/>

    <node name="imu_ros_odometry" pkg="drive_ros_imu_odo_odometry" type="drive_ros_imu_odo_odometry_node"
          output="$(arg output)" launch-prefix="$(arg nice_val_pre)" >
        <param name="odo_topic_name" type="str" value="$(arg odo_topic_name)"/>
        <param name="imu_topic_name" type="str" value="$(arg imu_topic_name)"/>
        <param name="odo_topic_rate" type="int" value="$(arg odo_topic_rate)" />
        <param name="imu_topic_rate" type="int" value="$(arg imu_topic_rate)" />
        <param name="queue_size" type="int" value="$(arg queue_size)" />
        <param name="age_penalty" type="double" value="$(arg age_penalty)" />
        <param name="max_time_between_meas" type="double" value="$(arg max_time_between_meas)" />
        <param name="max_time_between_imu_odo" type="double" value="$(arg max_time_between_imu_odo)" />
        <param name="ignore_acc_values" type="bool" value="$(arg ignore_acc_values)" />
        <param name="static_frame" type="str" value="$(arg static_frame)" />
        <param name="moving_frame" type="str" value="$(arg moving_frame)" />
        <param name="use_sensor_time_for_pub" type="bool" value="$(arg use_sensor_time_for_pub)" />
        <param name="debug_out" type="bool" value ="$(arg debug_out)" />
        <param name="debug_out_file_path" type="str" value ="$(arg debug_out_file_path)" />
        <param name="read_from_bag" type="bool" value ="$(arg read_from_bag)" />
        <param name="bag_file_path" type="str" value ="$(arg bag_file_path)" />
        <rosparam command="load" file="$(arg vehicle_config)"/>
    </node>
</launch>
